- @user_request ||= UserRequest.new

.sixteen.columns
  #page-title
    %h2= @page.title
    #bolded-line

  %p= @page.body.html_safe

.eight.columns
  .headline.no-margin
    %h4 Форма обратной связи
  .form-spacer

  = render 'shared/message'

  -if @user_request.errors.any?
    .notification.error.closeable
      %p
        = @user_request.errors.full_messages.join("<br>").html_safe
  / Form
  #contact-form
    = form_for @user_request  do |f|
      .field
        = f.label :name do
          Имя
          %span *
        = f.text_field :name

      / .field
      /   = f.label :address
      /   = f.text_field :address

      .field
        = f.label :phones
        = f.text_field :phones

      .field
        = f.label :email do
          E-mail
          %span *
        = f.text_field :email

      .field
        = f.label :message do
          Сообщение
          %span *
        = f.text_area :message

      / .field
      / # = f.simple_captcha

      .field
        = f.button 'Отправить', :type => :submit, :id => 'send'
        .loading

.eight.columns.google-map
  .headline.no-margin
    %h4 Карта




  #ymaps-map{style: "height: 480px;"}
  / #googlemaps.google-map.google-map-full{:style => "height:480px"}
  %script{:src => "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"}
  :javascript
    var current_loc = '#{Setting.get('MAP-LOCATION', 'г. Дубна Московской области, ул. Правды д.33. ком.8')}';

    ymaps.ready(init);

    function init () {
      var myMap = new ymaps.Map("ymaps-map", {
        center: [37.149782, 56.735085],
        zoom: 12,
        type: "yandex#map"
      });
      myCollection = new ymaps.GeoObjectCollection();
      myMap.controls.add("zoomControl")
                    .add("mapTools")
                    .add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));

      ymaps.geocode(current_loc, {results: 100}).then(function (res) {
        myCollection.removeAll();
        if (res.geoObjects.getLength()) {
          var point = res.geoObjects.get(0);
          myCollection.add(point);
          myMap.geoObjects.add(myCollection);
          myMap.panTo(point.geometry.getCoordinates());
        }
      });
      return false;
    }
