!!!
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %title= [ content_for?(:title) ? yield(:title) : nil, @title ].flatten.compact.join(' | ')
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

    = stylesheet_link_tag "application", :media => "all"

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "application"
    %link{:href => "/favicon.png", :rel => "shortcut icon"}
  %body
    / Wrapper Start
    #wrapper
      /
        Header
        \==================================================
      / 960 Container
      .container.ie-dropdown-fix
        / Header
        #header
          / Logo
          .eight.columns
            #logo
              = link_to Setting.get('SITE-NAME', 'Управляющая кампания'), root_path
              / %img{:alt => "logo", :src => "images/logo.png"}/
              / #tagline It's time to impress your visitors!
              .clear
          / Social / Contact
          .eight.columns
            / Contact Details
            #contact-details
              %ul
                %li
                  %i.mini-ico-envelope>
                  = mail_to Setting.get('EMAIL', 'info@example.ru')
                %li
                  %i.mini-ico-user>
                  = Setting.get('PHONE', '+7 (999) 999 9999')
        / Header / End
        / Navigation
        .sixteen.columns
          #navigation
            = render 'shared/menu'
          .clear
        / Navigation / End
      / 960 Container / End
      /
      .container
        = yield

    #footer
      .container
        .sixteen.columns
          #footer-bottom
            © 2012
            = succeed "." do
              = link_to Setting.get('SITE-NAME', 'Управляющая кампания'), root_path
            #scroll-top-top
              %a{:href => "#"}
